.navbar{
	background-color: #b9b9b9;
	position: relative;
}
body{
	background-color: #e6e6e6;
}
.dove i{
	color: #ff5722;
}
.log{
	color: #03a9f4;
}
.timings{
	background-color: #cdcdd2;
	margin: 10px;
	font-size: 12px;
	padding: 10px;
	margin: 20px;
	height: 100px;
}
.wifi{
	font-size: 25px;
	color: #33c554;
}
.may4{
	background-color: white;
	box-shadow: 5px 5px 5px grey;
	margin: 20px;
	border-radius: 5px;
}
.event{
	margin-top: 20px;
	margin-left: 40px;
	position: relative;
}
#calendar{
	position: absolute;
	top: 210px;
	height: 220px;
	background-color: white;
	border: 2px solid white;
	box-shadow: 1px 1px 5px 5px gray;
	padding-left: 0px;
	

}
img{
	margin: 10px;
}
.content{
	font-size: 14px;
}
.community{
	background-color: #e0dede;
	/*padding: 1px;
	margin: 10px;*/
}

/*to calender*/

.monthPre{
	color: gray;
	text-align: center;
	background-color: white;
}
.monthNow{
	color: blue;
	text-align: center;
}
.dayNow{
	border: 2px;
	color: white;
	background-color: #377b6c;
	text-align: center;
}
.calendar td{
	width: 40px;
}
.monthNow th{
	background-color: #efeaea;
	color: black;
	text-align: center;
}
.dayNames{
	background: #bdb7b7;
	color: black;
	text-align: center;
}
.edit{
	border: none;
	color: black;
	background-color: #67d1e8;
	border-radius: 20px;
	margin: 5px;
	display: none;
}
.delete{
	border: none;
	color: black;
	background-color: #67d1e8;
	border-radius: 20px;
	display: none;
}
.row:hover .edit {
	display: block;
}
.row:hover .delete {
	display: block;
}