.navbar{
	background-color: #b9b9b9;
	position: relative;
}
body{
	background-color: #dadada;
}
.dove i{
	color: #ff5722;
}
.log{
	color: #03a9f4;
}
.timings{
	background-color: #cdcdd2;
	margin: 10px;
	font-size: 12px;
	padding: 10px;
	margin: 20px;
}
.wifi{
	font-size: 25px;
	color: #33c554;
}
.may4{
	background-color: white;
	box-shadow: 2px 3px #e8dddd;
	margin: 20px;
	border-radius: 5px;
}
.event{
	margin-top: 20px;
	margin-left: 40px;
	position: relative;
}
#calendar{
	position: absolute;
	top: 40%;
	left: 70%;
	background-color: white;
}
img{
	margin: 10px;
}
.content{
	font-size: 13px;
}

/*to calender*/

.monthPre{
	color: gray;
	text-align: center;
	background-color: white;
}
.monthNow{
	color: blue;
	text-align: center;
}
.dayNow{
	border: 2px;
	color: white;
	background-color: #377b6c;
	text-align: center;
}
.calendar td{
	htmlContent: 2px;
	width: 40px;
}
.monthNow th{
	background-color: #efeaea;
	color: black;
	text-align: center;
}
.dayNames{
	background: #bdb7b7;
	color: black;
	text-align: center;
}